@tailwind base;
@tailwind components;
@tailwind utilities;




  .animation-hover:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.3s ease, left 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.animation-active:after {
    width: 100%;
}

.animation-hover:hover:after {
    width: 100%;
}
